<mat-toolbar class="footer">
    <mat-toolbar-row style="height: auto;">
        <mat-grid-list cols={{gridColumns}} rowHeight="350px" style="width: inherit;">
            <mat-grid-tile >
                <mat-list role="list" >
                    <div mat-subheader>Tutorials</div>
                    <mat-list-item role="listitem"><a class="footer-menu" href="https://ponniah96.github.io/learning-website/basicElements.html" target="_blank">HTML Tutorial</a></mat-list-item>
                    <mat-list-item role="listitem"><a class="footer-menu" href="https://ponniah96.github.io/learning-website/cssProperties1.html" target="_blank">CSS Tutorial</a></mat-list-item>
                    <mat-list-item role="listitem"><a class="footer-menu" href="https://ponniah96.github.io/learning-website/javascriptBasicPhase1.html" target="_blank">JavaScript Tutorial</a></mat-list-item>
                    <mat-list-item role="listitem"><a class="footer-menu" href="https://ponniah96.github.io/typescript-application/" target="_blank">TypeScript Tutorial</a></mat-list-item>
                    <mat-list-item role="listitem"><a class="footer-menu" href="https://ponniah96.github.io/react-learning-app/" target="_blank">React Tutorial</a></mat-list-item>
                    <mat-list-item role="listitem"><a class="footer-menu" href="https://ponniah96.github.io/react-redux-app/" target="_blank">React Redux Tutorial</a></mat-list-item>
                </mat-list>
            </mat-grid-tile>
            <mat-grid-tile >
                <mat-list role="list">
                    <div mat-subheader>Basic</div>
                    <mat-list-item role="listitem"><a class="footer-menu" href="https://ponniah96.github.io/learning-website/basicElements.html" target="_blank">HTML Tutorial</a></mat-list-item>
                    <mat-list-item role="listitem"><a class="footer-menu" href="https://ponniah96.github.io/learning-website/basicElements.html" target="_blank">HTML Tutorial</a></mat-list-item>
                    <mat-list-item role="listitem"><a class="footer-menu" href="https://ponniah96.github.io/learning-website/basicElements.html" target="_blank">HTML Tutorial</a></mat-list-item>
                    <mat-list-item role="listitem"><a class="footer-menu" href="https://ponniah96.github.io/learning-website/basicElements.html" target="_blank">HTML Tutorial</a></mat-list-item>
                    <mat-list-item role="listitem"><a class="footer-menu" href="https://ponniah96.github.io/learning-website/basicElements.html" target="_blank">HTML Tutorial</a></mat-list-item>
                    <mat-list-item role="listitem"><a class="footer-menu" href="https://ponniah96.github.io/learning-website/basicElements.html" target="_blank">HTML Tutorial</a></mat-list-item>
                </mat-list>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-list role="list">
                    <div mat-subheader>Advanced</div>
                    <mat-list-item role="listitem"><a class="footer-menu" href="https://ponniah96.github.io/learning-website/basicElements.html" target="_blank">HTML Tutorial</a></mat-list-item>
                    <mat-list-item role="listitem"><a class="footer-menu" href="https://ponniah96.github.io/learning-website/basicElements.html" target="_blank">HTML Tutorial</a></mat-list-item>
                    <mat-list-item role="listitem"><a class="footer-menu" href="https://ponniah96.github.io/learning-website/basicElements.html" target="_blank">HTML Tutorial</a></mat-list-item>
                    <mat-list-item role="listitem"><a class="footer-menu" href="https://ponniah96.github.io/learning-website/basicElements.html" target="_blank">HTML Tutorial</a></mat-list-item>
                    <mat-list-item role="listitem"><a class="footer-menu" href="https://ponniah96.github.io/learning-website/basicElements.html" target="_blank">HTML Tutorial</a></mat-list-item>
                    <mat-list-item role="listitem"><a class="footer-menu" href="https://ponniah96.github.io/learning-website/basicElements.html" target="_blank">HTML Tutorial</a></mat-list-item>
                </mat-list>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-list role="list">
                    <div mat-subheader>References</div>
                    <mat-list-item role="listitem"><a class="footer-menu" href="https://ponniah96.github.io/learning-website/basicElements.html" target="_blank">HTML Tutorial</a></mat-list-item>
                    <mat-list-item role="listitem"><a class="footer-menu" href="https://ponniah96.github.io/learning-website/basicElements.html" target="_blank">HTML Tutorial</a></mat-list-item>
                    <mat-list-item role="listitem"><a class="footer-menu" href="https://ponniah96.github.io/learning-website/basicElements.html" target="_blank">HTML Tutorial</a></mat-list-item>
                    <mat-list-item role="listitem"><a class="footer-menu" href="https://ponniah96.github.io/learning-website/basicElements.html" target="_blank">HTML Tutorial</a></mat-list-item>
                    <mat-list-item role="listitem"><a class="footer-menu" href="https://ponniah96.github.io/learning-website/basicElements.html" target="_blank">HTML Tutorial</a></mat-list-item>
                    <mat-list-item role="listitem"><a class="footer-menu" href="https://ponniah96.github.io/learning-website/basicElements.html" target="_blank">HTML Tutorial</a></mat-list-item>
                </mat-list>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-toolbar-row>
    <mat-toolbar-row style="justify-content: center;font-size: 14px;">
         <div>
            <span>For more information kindly visit </span>
            <a mat-icon-button  href="https://ponniah96.github.io/learning-website/flexWebLayout.html" target="_blank" style="top: 5px;">
                <mat-icon>public</mat-icon>
            </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
