<div>
  <div class="card">
    <div class="card-header">
      <h1>Angular Material Card</h1>
    </div>
    <div class="card-body">
      <p>Angular Material Card is a component which is used to display content in a structured format. It provides a lot of options to customize the card. It is used to display content in a structured format.</p>
      <p>List of angular material cards we are going to shown here</p>
      <ul>
        <li><a mat-button class="link" href="/angular-material/card#basic-card">Basic card</a></li>
        <li>Angular Material card with Image, Title, Description, Action Buttons</li>
      </ul>
      <div style="width: 98%; margin: 100px auto;">
        <h4 id="basic-card">1.Basic Card</h4>
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title>Australian Shepard</mat-card-title>
            <mat-card-subtitle>Herding Group</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button>Learn More</button>
          </mat-card-actions>
        </mat-card>
        <mat-divider style="margin: 25px 0px;"></mat-divider>
        <h4>2. Angular Material card with Image, Title, Description, Action Buttons</h4>
        <mat-card appearance="outlined" class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Dog</mat-card-title>
            <mat-card-subtitle>Shiba Inu - Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="link">LIKE</button>
            <button mat-button class="link">SHARE</button>
            <button mat-button class="link">SUBSCRIBE</button>
          </mat-card-actions>
        </mat-card>
    </div>
  </div>
</div>
