<div class="introduction">
  <div class="body">
      <div class="card angular-router-menus">
        <div class="accordion-padding"></div>
          <mat-grid-list cols="4" rowHeight="1:4" >
            <mat-grid-tile colspan="1" >
                <div class="angular-router-menu-links">
                    <a mat-button class="link" routerLink="/angular-material" >Home</a>
                    <a mat-button class="link" routerLink="nav1" >Buttons</a>
                    <a mat-button class="link" routerLink="nav2" >Toggle Button</a>
                    <a mat-button class="link" routerLink="nav1" >Accordion</a>
                    <a mat-button class="link" routerLink="nav2" >Side NavBar</a>
                    <a mat-button class="link" routerLink="nav1" >Menubar</a>
                    <a mat-button class="link" routerLink="nav2" >Toolbar</a>
                    <a mat-button class="link" routerLink="nav1" >Grid</a>
                    <a mat-button class="link" routerLink="nav2" >Card</a>
                    <a mat-button class="link" routerLink="table" >Table</a>
                    <a mat-button class="link" routerLink="nav2" >Tree Structure</a>
                    <a mat-button class="link" routerLink="nav1" >Tabs</a>
                    <a mat-button class="link" routerLink="nav1" >Dialog</a>
                    <a mat-button class="link" routerLink="nav2" >Tooltip</a>
                    <a mat-button class="link" routerLink="nav1" >Snackbar</a>
                    <a mat-button class="link" routerLink="nav2" >Progress Spinner</a>
                    <a mat-button class="link" routerLink="nav1" >Progress Bar</a>

                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <div class="accordion-padding"></div>
                <router-outlet></router-outlet>
            </mat-grid-tile>
          </mat-grid-list>
          
      </div>
  </div>
</div>