<mat-accordion>
  <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
          <mat-panel-title><h2 class="card-title">Router</h2></mat-panel-title>
      </mat-expansion-panel-header>
      <div class="card-content">
          <p>Angular router is used to navigate angular app from single page to multiple apps</p>
          <h3>Example:</h3>
          <div class="terminal" >
              <pre>

<b>In app-routing-module.ts </b>
import &#123; NgModule &#125; from '@angular/core';
import &#123; RouterModule, Routes &#125; from '@angular/router';

import &#123; NavigationComponentComponent &#125; from './navigation-component/navigation-component.component';
import &#123; Navigation2Component &#125; from './navigation2/navigation2.component';

const routes: Routes = [
&#123;path:'nav1', component:NavigationComponentComponent&#125;,
&#123;path:'nav2', component:Navigation2Component&#125;
];

@NgModule&#40;&#123;
imports: [RouterModule.forRoot&#40;routes&#41;],
exports: [RouterModule]
&#125;&#41;
export class AppRoutingModule &#123; &#125;

<b>In introduction.component.html</b>
&lt;a class="link" [routerLink]="['/nav1']"&gt;
Navigation Component 1
&lt;/a&gt;
&lt;a class="link" [routerLink]="['/nav2']"&gt;
Navigation Component 2
&lt;/a&gt;
              </pre>
          </div>
      </div>
  </mat-expansion-panel>
</mat-accordion>